*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.popup_window{
    width: 350px;
    height: 400px;
    background-color: #111;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    flex-direction: column;
    gap:3rem;
}

.popup_button{
    width: 100%;
    padding: 1.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.popup_optional_render_div{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap:3rem;
    
    width: 100%;
}

.popup_input_div{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.popup_input_div input{
    width: 100%;
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    border: none;
    border-radius: 5px;
    outline: none;
}

.popup_input_div input::placeholder{
    color: #444;
}

.popup_input_div button{
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup_combobox_div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    width: 100%;
}

.popup_combobox_div label{
    font-size: 1.2rem;
}

.popup_combobox_div select{
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    width: 100%;
    color: black;
}

.popup_combobox_div select option{
    color: black;
}




.crud-btn{
    background-color: white;
    color: red;
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    width: 100%;
    cursor: pointer;
}