.fulldiv{
    width: 100%;
}

.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    width: 100%;
    color: #ffffff;
    gap: 3rem;
}


.errordiv{
    width: 100%;
    height: 3.5rem;
    font-size: 1.2rem;
    background-color: #111;
    color: white;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */


.navbar_button{
    padding: 1rem 2rem;
    background-color: #111;
    font-size: 2rem;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */



.navbar_input_div{
    display: flex;
    align-items: center;
    gap: 1rem;

}

.navbar_input_div input{
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    
}

.navbar_input_div input::placeholder{
    color: #444;
}

.navbar_input_div button{
    padding: 1rem;
    font-size: 1.2rem;
    color: black;
    background-color: white;
    font-weight: 600;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */




.navbar_combobox_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar_combobox_div label{
    font-size: 1.2rem;
    color: lightgray

}

.navbar_combobox_div select{
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    max-width: 20rem;
}

.navbar_combobox_div select option{
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.rating_dropdown_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rating_dropdown_div label{
    font-size: 1.2rem;
    color: lightgray
}

.rating_dropdown_div select{
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    max-width: 10rem;
}

.rating_dropdown_div select option{
    color: black;
}


/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.status_dropdown_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.status_dropdown_div label{
    font-size: 1.2rem;
    color: lightgray
}

.status_dropdown_div select{
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: white;
    border-radius: 10px;
    max-width: 10rem;
}

.status_dropdown_div select option{
    color: black;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------- */

.threebuttondiv{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.threebuttondiv button{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background-color: #222;
    padding: 1rem;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: none;
}

.threebuttondiv button:hover{
    background-color: #111;
}